model_parameters.lmdb/
data/
mnist_model.pth
mnist_model.onnx
calculator_model.pth
log_file.log
runs/
model_db/
model.lmdb/
__pycache__/
*.pyc
dqn_model.lmdb/
rnn_model.pth
rnn_model_ai.pth
transformer_model_ai.pth
transformer_model_ai_chinese.pth
fourier_predictor_model.pth
embeddings.lmdb
ollama_embeddings.lmdb
ollama_nomic_embeddings.lmdb
embeddings_ollama2.lmdb
todo_embeddings.index
files_sorting_embeddings.index
